*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 800;
}

.container{
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
}

.small{
  padding: 9px 12px;
  border-radius: 18px;
  border: none;
}

.large{
  margin: 22px 13px;
  padding: 15px 33px;
  border-radius: 30px;
  font-size: 22px;
  border: none;
}

a{
  text-decoration: none;
}

h1{
  font-size: 53px;
  padding: 35px 0;
}

p{
  font-size: 20px;
  line-height: 30px;
}

.grey{
  background-color: #f6f6f6;
}

.wave{
  height: 100px;
  background-image: url('../img/wave.svg');
  background-size: cover; 
  filter: opacity(0.04); 
}




/* HEADER TOP*/
header{
  color: #ffffff;
  background-color: #3161e0;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header .container nav ul{
  display: flex;
  list-style: none;
}

header .container nav ul li{
  padding: 0 20px;
}

header .container nav ul li a{
  font-size: 15px;
  color: #ffffff;
}

header button:not(:last-child){
  background-color: #ffffff;
}

header a{
  color: #1f2326;
}

.top-fixed{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #3161e0;
}




/* JUMBOTRON */
.jumbotron{
  display: flex;
  justify-content: center;
  min-height: 520px;
  padding: 64px;
  margin-top: 74px;
  background-image: url('../img/jumbo.png');
  background-size: cover;
  background-position: center;
}

.jumbotron .content{
  width: 50%;
  text-align: center;
}

.content :nth-child(3) a::before{
  content: '\2B07';
  margin-right: 10px;
  color: #23272a;
}

.content button:last-child{
  background-color: #23272a;
}

.content button:last-child a{
  color: #ffffff;
}




/* MAIN */
.card{
  padding: 100px 0;
}

.card .container{
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
}

.card .img{
  width: 60%;
}

.card .img img{
  width: 100%;
}

.card .text{
  width: 40%;
  color: #23272a;
}

.card:nth-of-type(odd) .container .text{
  margin-left: 160px;
}

.card:nth-of-type(even) .container .text{
  margin-right: 160px;
}

.wave.rotate{
  transform: rotate(180deg);
}

.last-card{
  padding: 100px 0;
  text-align: center;
}

.last-card .container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.last-card .container .img img{
  width: 100%;
}

.last-card .container .bottom img{
  width: 45%;
}

.last-card h2{
  margin-top: -18px;
  font-size: 40px;
}

.last-card .bottom button{
  margin-top: 50px;
  background-color: #8ea1e1;
}

.last-card .bottom a{
  color: #f8f9fd;
}

.last-card .bottom a::before{
  content: '\2B07';
  margin-right: 10px;
  color: #f8f9fd;
}




/* FOOTER */
footer{
  background-color: #23272a;
}

footer .top{
  display: flex;
  padding-top: 90px;
  padding-bottom: 30px;
}

.col-social{
  flex-grow: 2;
}

.col{
  flex-grow: 1;
}

footer .col-social h2, footer .col ul li:first-child{
  color: #7188d9;
}

footer .col-social span, footer .col ul li{
  color: #ffffff;
}

footer .col-social h2{
  font-size: 35px;
}

footer .col-social span{
  display: inline-block;
  padding: 25px 0;
}

footer .col-social img{
  width: 30px;
}

footer .col-social i{
  padding-right: 10px;
  color: #ffffff;
}

footer .col ul{
  list-style: none;
}

footer .col ul li{
  padding-bottom: 18px;
}

footer .bottom{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 100px;
  border-top: 1px solid #556187;
}

footer .bottom button{
  background-color: #8ea1e1;
}

footer .bottom button a{
  color: #f8f9fd;
}







