*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 800;
}

.container{
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
}

.small{
  padding: 9px 12px;
  border-radius: 18px;
  border: none;
}

.large{
  margin: 22px 13px;
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 18px;
  border: none;
}

a{
  text-decoration: none;
}

h1{
  font-size: 53px;
  padding: 35px 0;
}

p{
  font-size: 18px;
  line-height: 30px;
}




/* HEADER TOP*/
header{
  color: #ffffff;
  background-color: #3161e0;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header .container nav ul{
  display: flex;
  list-style: none;
}

header .container nav ul li{
  padding: 0 20px;
}

header .container nav ul li a{
  font-size: 15px;
  color: #ffffff;
}

header button:not(:last-child){
  background-color: #ffffff;
}

header a{
  color: #1f2326;
}



/* JUMBOTRON */
.jumbotron{
  display: flex;
  justify-content: center;
  min-height: 520px;
  padding: 64px;
  background-image: url('../img/jumbo.png');
  background-size: cover;
}

.jumbotron .content{
  width: 50%;
  text-align: center;
}

.content :nth-child(3) a::before{
  content: '\2B07';
  margin-right: 10px;
  color: #23272a;
}

.content button:last-child{
  background-color: #23272a;
}

.content button:last-child a{
  color: #ffffff;
}




/* MAIN */
.card{
  min-height: 500px;
}

.card:nth-child(even){
  background-color: #f6f6f6;
}

.card .container{
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
}

.card .text{
  color: #23272a;
}

.card:nth-of-type(odd) .container .text{
  margin-left: 160px;
}

.card:nth-of-type(even) .container .text{
  margin-right: 160px;
}


.last-card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 800px;
  background-color: #f6f6f6;
}

.last-card .text, .last-card .img{
  width: 100%;
}

.last-card .text{
  height: 15%;
  background-color: chocolate;
}

.last-card .img{
  height: 50%;
  background-color: aqua;
}




/* FOOTER */
footer{
  height: 500px;
  background-color: #23272a;
}


.footer-top{
  display: flex;
  align-items: center;
  height: 80%;
}color: #ffffff;

.col-social, .col{
  height: 80%;
}

.col-social{
  flex-grow: 2;
  background-color: darkslategray;
}

.col{
  flex-grow: 1;
  background-color: grey;
  border: 1px white dashed;
}


.footer-bottom{
  display: flex;
  align-items: center;
  height: 20%;
  border-top: 1px gray solid;
}








